<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../assets/img/books.svg" type="image/x-icon">

    <link rel="stylesheet" href="../assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/lib/sweetalert2/sweetalert2.min.css">

    <link rel="stylesheet" href="../assets/css/container.css">

    <script src="../assets/js/alerts.js"></script>

    <title>Biblioteca</title>
</head>

<body>
    <main class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/books.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                Biblioteca
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="livros.html">Livros <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="clientes.html">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="funcionarios.html">Funcionarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="emprestimos">Emprestimos</a>
                    </li>
                </ul>

                <a href="#" type="button" class="btn btn-sm btn-outline-danger">Sair</a>
            </div>
        </nav>
