.custom-container {
    width: 650px;
    margin: 0 auto;
}

.custom-md-container {
    width: 800px;
    margin: 0 auto;
}


@media (max-width: 750px) {

    .custom-container {
        width: 450px;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {

    .custom-container {
        width: 300px;
        margin: 0 auto;
    }
}